@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');
@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

@tailwind base;
@tailwind utilities;

body {
  font-family: 'Poppins', serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', serif;
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 2.489rem; /* 39.84px */}

h2 {font-size: 2.074rem; /* 33.12px */}

h3 {font-size: 1.728rem; /* 27.68px */}

h4 {font-size: 1.440rem; /* 23.04px */}

h5 {font-size: 1.200rem; /* 19.2px */}

small {font-size: 0.833rem; /* 13.28px */}

@layer base {
  :root {
    --text: 238 241 243;
    --background: 11 18 24;
    --primary: 150 192 226;
    --secondary: 19 95 158;
    --accent: 36 156 254;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@media (pointer: coarse), (hover: none) {
  [title] {
    position: relative;
    display: inline-flex;
    justify-content: center;
  }
  [title]:focus::after {
    content: attr(title);
    position: absolute;
    top: 90%;
    color: #000;
    background-color: #fff;
    border: 1px solid;
    width: fit-content;
    padding: 3px;
  }
}